* {
	box-sizing: border-box;
	margin: 0 auto;
	display: grid;
	justify-content: center;
	align-items: center;
	color: black;
}
body {
	padding-left: 25px;
	padding-right: 15px;
	padding-bottom: 15px;
	background-image: url("../images/");
	background-repeat: no-repeat;
	background-size: cover;
}

	


h1, h2, h3, p {
	padding-left: 20px;
	padding-bottom: 15px;
}
nav {
	margin-bottom: 50px;
}

button {
	cursor: pointer;
	background-color: transparent;
	color: white;
	padding: 10px;
}
.nav-links a{
	color: white;
}
.alert p{
	color: green;
}
.flex-nav-list {
	margin-bottom: 100px;
	background-color: blue;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-decoration: none;
}
.flex-nav-list a{
	margin-top: 0;
	text-decoration: none;
	padding: 10px;
	color: white;
}
header {
	margin-bottom: 50px;
}

.resources {
	
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: url("../images/aspergers-syndrome.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: right;
}
.resources a {
	padding-right: 20px;
	padding-left: 25px;
	padding-bottom: 15px;
	text-decoration: none;
	color: white;
	font-size: 30px;
}
.resources button {
	width: 400px;
}
.col-md-6 img {
	height: 50px;
	width: 200px;
}
footer {
	height: 400px;
	padding-top: 100px;
	padding-bottom: 200px;
}
